.container-fluid{
    width:auto;
    height:auto;
    background-color:#E8E8E8;
}
.tab{
    border-radius: 0%;
    box-shadow: none;
    background-color: #F5F5F5
}
.round{
    background-color:#E8E8E8;
}
.head{
    background-color: #6a6d6dcc;
    color:#F5F5F5;
    box-shadow: none;
    border-radius: 0%;
}